label {
  font-weight: normal;
  width: 100%
}
label.error {
  color: #A00;
}
input, textarea {
  width: 300px;
}
.jumbotron {
  font-size: 14px;
}
button {
  margin-top: 15px;
}
#captcha-wrapper {
  margin-bottom: 10px;
}
#refresh-captcha {
  cursor: pointer;
}